@import './template/variable';

@media (max-width: 991px) {

}

@media (max-width: 768px) {
    .wr-mode{
        writing-mode: lr;
        margin-bottom: 30px;
    }
    #breadcrumbs{
        margin-top: 52px;
    }
    #menu{
        ul {
            margin-top: 20px;
            li {
                a{
                    padding: 10px 0;
                    border-bottom: 1px solid $grey;
                }
                &:last-child{
                    a{
                        border-bottom: none;
                    }
                }
            }
        }
    }
    .navbar-toggler{
        outline: none !important;
    }
}

@media (max-width: 575px) {

}
